<div class="box">
  <%= bootstrap_form_for(@user, url: form_url, data: { no_turbolink: true }, html: { id: "edit-user-password-form" } ) do |f| %>

    <div class="row">
      <div class="col-sm-5">
        <%= f.password_field :password, autocomplete: "new-password", label: "Нова парола", label_class: "required", help: "(най-малко #{@minimum_password_length} символа)" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", label: "Потвърдете новата парола", label_class: "required" %>
        <%= f.password_field :current_password, autocomplete: "new-password", label: "Текуща парола", label_class: "required" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <button type="submit" class="btn btn-template-main btn-save">
          <i class="fa fa-floppy-o"></i> Запази
        </button>
      </div>
    </div>

  <% end %>
</div>
