<% if outfit.image_filter.present? %>
    <div class="outfit-image-filter-warning">
        <%= alert_tag(:warning, "Към снимките на продуктите във визията са приложени ефекти. Цветовете може да се различават от тези във визията. Разгледайте продуктите, като последвате линковете долу, за да видите истинските цветове.") %>
    </div>
<% end %>
