<div id="product-pictures-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Изберете снимка за продукта</h3>
      </div>
      <div class="modal-body">
        <div>
          <h6 class="pictures-title">Снимки с прозрачен фон</h6>
          <div class="row product-pictures-list outfit-pictures">
          </div>
        </div>
        <div>
          <h6 class="pictures-title">Всички снимки</h6>
          <div class="row product-pictures-list all-pictures">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>