<% title "Визии за #{@product.name} от #{@product.merchant.name}", true %>
<% description "Вижте предложения за подходящо съчетание на #{@product.name} с други продукти от нашата платформа.", true %>
<% allow_search_engine_index %>

<div class="col-sm-12">
    <div>
        <%= link_to product_path(@product), {"class" => "btn btn-default btn-bottom-shifted"} do %>
          <i class="fa fa-chevron-left"></i> Обратно към продукта
        <% end %>
    </div>

    <%= render partial: 'shared/filtered_dynamic_item_list', locals: {
            initial_item_count: Conf.search.initial_item_count,
            update_url: false,
            load_more_url: "/vizii/load_more_outfits/#{@category.try(:id) || 0}/#{@occasion.try(:id) || 0}/#{@product.try(:id) || 0}",
            item_type: 'outfits',
            sort_options: [ ['Дата на добавяне', 'created_date'], ['Рейтинг', 'rating'], ['Съвпадение', 'relevance']],
            filters: []
    } %>
</div>

<script language="JavaScript">
    FashionLime.Common.utils.onPageLoad(function () {
        FashionLime.Shared.dynamicFooter.setup();

        FashionLime.Common.utils.onLoadFromCache(function() {
            FashionLime.Shared.dynamicFooter.setup(); },
                '.application-layout');

        FashionLime.Common.utils.onPageUnload(function() {
            FashionLime.Shared.dynamicFooter.clear(); },
                '.application-layout');
    });

</script>
