<div>
  С уважение, <br/>
  Екипът на Fashion Lime
  <p>
    <%= Conf.contact.merchants_phone %>
    <br/>
    <%= Conf.contact.merchants_email %>
    <br/>
    <%= Conf.contact.address %>
    <br/>
    <%= image_tag image_url("/mailer/fashionlime-logo-emails.jpg"), :width => 152, :height => 48, :alt => 'FashionLime' %>
  </p>
</div>
