<% title "Продавай безплатно във Fashion Lime за цяла година", true %>
<% description "Разбери как продуктите ти да станат част от новата интернет общност за мода в България.", true %>
<% og_images [{
    :url => image_url('wanted-merchants.jpg'),
    :type => 'image/jpeg',
    :width => 1200,
    :height => 630
}]%>

<% allow_search_engine_index %>

<div id="information-new-merchant">

  <div class="container">
      <div class="row">

        <div class="col-sm-12">
            <div class="heading">
              <h2>Искате да станете част от партньорите на Fashion Lime, като включите продуктите си в платформата?</h2>
            </div>

            <h2>Удоволствието е наше</h2>
            <p>
              Ние сме това, което сме, благодарение на Вашия моден усет, чрез който създавате моделите, които нашите потребители толкова харесват.
              Затова и екипът ни толкова много държи на партньорите си търговци.
              Винаги сме щастливи да работим с талантливи хора, с които имаме обща мисия. А именно да изразяваме себе си, чрез модните си предпочитания.
              И разбира се да помагаме на другите да направят същото.
              <span class="thanks-text">Благодарим Ви, че проявявате интерес!</span>
            </p>

            <h2>Защо е добра идея?</h2>
            <p class="emphasized">
              С какво вашият сайт е по-добър от останалите платформи за интернет търговия? С какво е по-различен от моя собствен Интернет магазин?
            </p>
            <p>
              Често ни задават тези въпроси. Fashion Lime не е единствено интернет магазин. Обичаме да го наричаме интернет общност.
              Общност, която създаваме заедно - ние, Вие и скъпите ни потребители. В нея всички ние обменяме идеи, а нашите търговци създават свои последователи.
              Вярваме, че създаването на профил на Вашата компания, ще представи вдъхновяващо идеите Ви и ще отвори нови пазарни възможности.
              Още мислим, че е задължително да го направите :)
              Профилът Ви, ще е Вашето представяне, представяне на Вашите възгледи и начина, по който те ще достигнат до почитателите на Вашите продукти.
              А почитатели може да намерите сред потребителите на Fashion Lime, като им дадете възможност да разглеждат продуктите Ви и да предлагат идеи как те да се съчетават помежду си.
              Удобното за тях е, че ще могат да виждат продуктите на любимите си марки на едно място, да ги поръчват заедно и да ги оценяват подобаващо.
              А какво печелите Вие? Ние се грижим за популяризирането на сайта и привличането на нови потребители. Ние сме отговорни за техническата поддръжка
              и за това сайтът постоянно да бъде осъвременяван, така че да изглежда добре на всички устройства, от които е достъпван - телефони, таблети, персонални компютри.
              Данните Ви са в добри ръце - нашият екип от специалисти по сигурността може да Ви гарантира това.
              И ако все още не сме Ви убедили, че може да ни се доверите, поне искаме да Ви уверим, че <a href="#nothing-to-lose">не губите нищо</a>.
            </p>

            <h2 id="nothing-to-lose">Не губите нищо</h2>
            <p>
              Това, което винаги сме искали, е да сме си взаимополезни. Участието Ви във Fashion Lime ще е безплатно за Вас, ако то не Ви носи позитиви и не реализирате поръчки благодарение на нас.
            </p>
            <p>
              А ако пък решите да ни подкрепите още от самото начало, ще бъде удоволствие за нас да Ви подарим:
            </p>
        </div>
    </div>
  </div>

  <section id="sign-up-promotion" class="bar background-gray no-mb">
    <div class="container">
        <div class="row same-height-row">
            <div class="col-sm-4">
                <div class="box-simple same-height">
                    <h4>
                      <span class="month-counter badge">12</span><br>
                      месеца <br>
                      безплатно
                    </h4>
                    ако се включите до 1 май 2017г.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-simple same-height">
                    <h4>
                      <span class="month-counter badge">6</span><br>
                      месеца <br>
                      безплатно
                    </h4>
                    ако се включите до 1 юни 2017г.
                </div>
            </div>
             <div class="col-sm-4">
                <div class="box-simple same-height">
                    <h4><span class="month-counter badge">3</span><br>
                      месеца <br>
                      безплатно
                    </h4>
                    ако се включите до 1 юли 2017г.
                </div>
            </div>
        </div>
    </div>
  </section>

  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <p class="sign-up-promotion-description">
              През тези безплатни месеци наши консултанти ще бъдат до Вас винаги, когато имате нужда - 
              при възникнали трудности и неясноти относно менажирането на търговския Ви профил, или всички други въпроси, които Ви вълнуват.
            <p class="no-obligations">
              Не се ангажирате с нищо.
            </p>
            </p>
            <p>
              След изтичане на безплатните месеци, не сте длъжни да продължите участието си, ако не виждате полза от него, или условията, 
              които ще Ви предложим не са приемливи за Вас. Звучи добре, нали? Включете се. Обещаваме Ви, че ще си заслужава.
            </p>
            <h2>Как да се включите?</h2>
            <p>
              За да станете част от партньорите на Fashion Lime, трябва да:
            </p>
            <div class="procedure-description">
              <ul>
                <li> 
                  <span class="badge">1</span> 
                  Изпратете имейл до <%= mail_to Conf.contact.merchants_email, Conf.contact.merchants_email, :target => "_blank", :rel => 'nofollow' %>,
                  като в него ни представите Вашата компания - как се казва тя, какви продукти желаете да продавате, колко е голям асортимента Ви.
                  Пишете ни за всякакви въпроси и притеснения, които имате. Ние сме тук, за да Ви помогнем.
                </li>
                <li> 
                  <span class="badge">2</span>
                  Ще отговорим в най-кратък срок на имейла Ви, като Ви изпратим подробно описание на условията за участие.
                </li>
                <li> 
                  <span class="badge">3</span>
                  Ако сте съгласни с тях, ще получите потребителско име и парола, с които ще можете да достъпвате Вашия търговски профил.
                  От него може да създавате продукти, колекции и визии, както и да обработвате постъпили поръчки. Нашият екип е готов да Ви помогне винаги,
                  ако имате технически затруднения.
                </li>
              </ul>
            </div>

            <p>
              Дори и да се колебаете, че искате да участвате, моля пишете ни! Ще се радваме да отговорим на всички Ваши въпроси.
            </p>

        </div>
      </div>
  </div>

</div>

<script language="JavaScript">
  FashionLime.Common.utils.onPageLoad(function() {
      $('.month-counter').counterUp({
        delay: 10,
        time: 200
      });
  });
</script>
