<div class="col-sm-9">
  <%= render partial: '/devise/shared/edit_password_form', locals: { form_url: users_update_password_path } %>
</div>
<div class="col-sm-3">
  <%= render partial: '/shared/user_profile_menu' %>
</div>
