<p class="text-muted lead contact-section">
  Ако имате въпроси, моля <%= link_to 'свържете се с нас', contact_path %>. Нашият обслужващ център работи за Вас <%= Conf.contact.support_working_hours_text %>
</p>
