<p>
  Чрез 10-цифрения код за плащане в EasyPay можете да платите за закупените от сайта ни продукти по един от следните начини:
</p>
<ul>
  <li>Във всеки <%=link_to 'офис на EasyPay в страната', 'https://www.easypay.bg/site/?p=offices', target: "_blank", rel: "nofollow" %>.</li>
  <li>През банкомат, разполагащ с опцията B-pay. На сайта на Датамакс АД (ePay.bg) може да намерите повече <%= link_to 'информация относно как се извършват плащания с B-pay', 'https://www.epay.bg/?p=b-pay', target: "_blank", rel: "nofollow" %>, както и <%= link_to 'списък от банкомати', 'https://www.epay.bg/?page=front&p=b-pay_atm_emv', target: "_blank", rel: "nofollow" %>, предлагащи тази услуга. За код за B-Pay на търговец, въведете <b>60000</b>.</li>
  <li>Онлайн на <%= link_to 'ePay.bg', 'https://www.epay.bg/?page=payfly', target: "_blank", rel: "nofollow"  %>  - ще Ви е нужна регистрация.</li>
</ul>
