<%= image_tag "fashionlime-logo-glow.png", :alt => "Fashion Lime лого", :class => "logo-image hidden-xs hidden-sm hidden-md" %>
<%= image_tag "fashionlime-logo-glow-medium.png", :alt => "Fashion Lime лого", :class => "logo-image hidden-xs hidden-sm hidden-lg" %>
<%= image_tag "fashionlime-logo-small.png", :alt => "Fashion Lime лого", :class => "logo-image logo-small-image hidden-sm hidden-md hidden-lg" %>

<span class="sr-only">Fashion Lime лого</span>

