<div class="social-share">
  <div class="btn-group btn-group-facebook-share" role="group" aria-label="Бутони за споделяне в социалните мрежи">
    <button type="button" class="btn btn-template-primary external facebook" data-animate-hover="pulse">
      <i class="fa fa-facebook"></i>
    </button>
    <button type="button" class="btn btn-template-main share-message external facebook" data-animate-hover="pulse">
      Сподели във Facebook
    </button>
  </div>
</div>
