<% title "Политика за поверителност на Fashion Lime", true %>
<% description "Изяснява политиката за поверителност на платформата. Държим Вашите данни да бъдат защитени.", true %>
<% allow_search_engine_index %>

<div class="col-sm-12">
<h3>Декларация за поверителност на fashionlime.bg</h3>

<p>
Настоящата Декларация е част от Общите условия за ползване на този сайт и като такава следва да бъде прилагана и тълкувана в съответствие със законите на Република България.
</p>
<p>
Моля, прочетете  Декларацията за поверителност  внимателно, преди да използвате интернет страницата fashionlime.bg, тъй като тя ви предоставя информация как ще бъдат обработвани личните ви данни. С използването на fashionlime.bg показвате съгласие с настоящата Декларация. В случай че не сте съгласни със съдържанието на Декларацията, моля преустановете и не използвайте настоящата интернет страница.
Fashionlime.bg се управлява и представлява от "Фешън Лайм" ООД с ЕИК 204422168 и адрес на управление гр.София, ж.к. Надежда 3, бл. 311, вх.Д, ап. 111. “Фешън Лайм” ООД е регистриран администратор на лични данни. Органът, който осъществява защитата на лицата при обработването на техните лични данни и при осъществяването на достъпа до тези данни е Комисия за защита на личните данни на Република България. 
</p>
<h4>1. За какво се използват данните?</h4>
<p>
“Фешън Лайм” ООД се интересува от запазването и защитата на Вашата лична информация. Личните данни, които можете да ни предоставите чрез сайта, мобилния сайт и мобилните приложения или при контакт с fashionlime.bg, се използват единствено за целите на сайта – заявки за покупка/замяна или връщане  на дрехи, обувки и аксесоари и за предоставянето на конкретни услуги, свързани с тях, обработване на Ваши запитвания.
</p>
<h4>2. Какви данни събираме и как?</h4>
<p>
Когато използвате интернет платоформата fashionlime.bg   е възможно да  събираме следната информация, свързана с вас: ваши лични данни в зависимост от това дали сте регистриран потребител , или гост-потребител; информация относно направени поръчки за покупки /замяна и връщане на стоки, или запитвания , свързани с тях. Тази информация може да включва вашето име, адрес, телефонен номер и имейл адрес, дата на раждане, пол , наред с друга информация. Начините, по които събираме тази информация са: чрез попълване от ваша страна  на електронни форми за поръчка, връщане или замяна, запитвания; чрез електронна поща на следния имейл адрес: info@fashionlime.bg & sales@fashionlime.bg
</p>
<h4>3.Използване на “бисквитки” и други устройства. </h4>
<p>
Всеки път, когато посещавате интернет страницата fashionlime.bg, ще се създава определена информация и автоматично ще се записва от нашите ИТ системи. Тази информация включва:
<ul>
<li>бисквитки или „Cookies” – това са малки файлове, които се изпращат до Вашия  компютър от уеб сайтовете, които посещавате, и се съхраняват на него. Използваме „бисквитките“, за да подобрим качеството на услугите си, включително за съхраняване на предпочитанията на потребителите, подобряване на резултатите от търсенетo и др.“Бисквитките” се съхраняват във файловата директория на Вашия браузър. Бисквитките не съдържат  вируси или софтуерни програми  и нямат достъп до информацията от  Вашия хардуер. Тези малки текстови файлове могат да помогнат за подобряването на Вашия опит с интернет страницата и да направят по-лесно взаимодействието с нас. Това може да включва съхраняване на вашите местоположение и език,  или да гарантира, че артикулите, които искате да поръчате не изчезват, докато извършвате други действия в този сайт (разглеждте други артикули или четете някаква  информация). Чрез “бисквитките” Фешън Лайм ООД събира определена информация от всички потребители на електронния магазин fashionlime.bg, независимо дали са регистрирани, или гост потребители и независимо дали  правят заявка за покупка , или само разглеждат  стоките и услугите, предоставени от fashionlime.bg.</li>
<li>информация за устройството: информацията, предоставена от вашето устройство ще се различава в зависимост от типа  устройство, което използвате (независимо дали е PC, Mac, iPhone, Android телефон или таблет, и т.н) и настройките на това устройство, IP адрес на устройството, на браузъра, който използвате, мобилния си доставчик  (за мобилни устройства), страниците, които сте посетили на сайта fashionlime.bg и вашето местоположение. </li>
</ul>

<h4>4. Препратки към други интернет страници.</h4>
<p>
В сайта fashionlime.bg  може да се съдържат  връзки към и от сайтовете на нашите партньори, търговци, рекламодатели. Ако следвате линк към някой от тези сайтове, моля, обърнете внимание, че тази Декларация за поверителност не се отнася до тези сайтове. “Фешън Лайм” ООД не носи отговорност за политиката на поверителност  или практиките на тези уеб сайтове, така че, моля, проверете съответните декларации на тези сайтове, преди да им предоставите личните си данни.
</p>

<h4>5. Новости относно тази Декларация за поверителност.</h4>
<p>
Декларацията за поверителност на fashionlime.bg се актуализира и се нанесоха промени по нея последно през месец март 2017г. Всички промени, които се  правят по тази Декларация   ще бъдат публикувани на тази страница и, когато е уместно, ще бъдете уведомени чрез електронна поща. Моля, проверявайте редовно, за да бъдете в течение на бъдещи актуализации или промени в тази Декларация за поверителност.
</p>

<h4>6.Как да осъществите контакт с нас?</h4>
<p>
Ако имате въпроси или притеснения, свързани с тази Декларация за поверителност, учтиво Ви молим да се свържете  с нас: <br>
<%= Conf.contact.address %>, <br>
<%= Conf.contact.clients_email %> <br>
Ралица Венциславова Пейчева-Ацева <br>
<%= Conf.contact.clients_phone %> <br>
работно време: <%= Conf.contact.office_working_hours_text %>
</p>



</div>
