<% title "Условия за използване на Fashion Lime", true %>
<% description "Изяснява условията за използване на платформата.", true %>
<% allow_search_engine_index %>

<div class="col-sm-12">

<p>
Моля, прочетете внимателно тези общи условия, преди да използвате уебсайта fashionlime.bg, тъй като те засягат Вашите права и задължения. 
</p>
<p>
Настоящите общи условия уреждат правилата за ползването на интернет сайта за продажба на дрехи, обувки и аксесоари fashionlime.bg,  както и взаимоотношенията между търговското дружество "Фешън Лайм" ООД с потребителите, ползващи сайта. Данните за “Фешън Лайм” ООД са както следва:
<ul>
<li>ЕИК 204422168, адрес на управление гр.София, ж.к. Надежда 3, бл. 311, вх.Д, ап. 111 </li>
<li>Адрес за кореспонденция гр.София, ж.к. Надежда 3, бл. 311, вх.Д, ап. 111, email: info@fashionlime.bg, тел. 02 468 90 38</li>
<li>Номер на удостоверение за администратор на личните данни 426579</li>
<li>Надзорни органи: Комисия за защита на личните данни адрес гр. София, ул. "Иван Евстатиев Гешов" № 15, тел.: (02) 940 20 46 факс: (02) 940 36 40 Email: kzld@government.bg, kzld@cpdp.bg Уеб сайт: www.cpdp.bg; Комисия за защита на потребителите адрес: 1000 гр. София, пл."Славейков" №4А, ет.3, 4 и 6, тел.: 02 / 980 25 24, факс: 02 / 988 42 18, гореща линия: 0700 111 22, Уеб сайт: www.kzp.bg</li>
</ul>
</p>
<p>
Материалите на този сайт са под закрилата на законодателството, уреждащо интелектуалната собственост. Всяка непозволена употреба на: наименованието на сайта  (fashionlime.bg), негова търговска марка  като словен и/или фигуративен, авторско право върху текстове, изображения или дизайн на сайта, бизнес модели, имплементирани в сорс кода, права върху промишлен дизайн или други обекти на интелектуална собственост представляват закононарушение, за което ще бъдат сезирани съответните компетентни органи. 
</p>

<p>
Ако Вие,  като потребител, не сте съгласен да бъдете обвързан с всички тези общи условия, моля преустановете използването на сайта fashionlime.bg Чрез настоящите общи условия fashionlime.bg Ви предоставя подходяща информация за използването им, позволяваща Ви да направите своя адекватен съзнателен избор дали да подпишете настоящето споразумение, или не. Определението “потребител” включва всички видове ползване на настоящия сайт, както от лица, които желаят да закупят  дрехи, обувки или аксесоари, така и от правните субекти, търсещи обща информация за предлаганите от нас стоки и материали поради субективен интерес или професионални мотиви.
</p>

<p>
І. Опрделения. <br>
В настоящите общи условия изброените по-долу термини имат значението, посочено срещу тях, освен ако контекстът налага друго значение:
</p>
<p>
1.Fashionlime.bg е авторски разработена система за онлайн търговия и посредничество между търговци- партньори и потребители на дрехи, обувки и аксесоари, базирана в интернет. Системата е създадена в съответствие с авторскоправното законодателството на република България и е предназначена да предоставя конкретна  търговска информация на потребителите, като за краткост същата ще бъде наричана навсякъде в настоящите общи условия „Електронен магазин“
</p>
<p>
2. Фирма "Фешън Лайм" ООД с ЕИК 204422168 и адрес на управление гр.София, ж.к. Надежда 3, бл. 311, вх.Д, ап. 111 е търговец по българското законодателство, който е собственик на Електронния магазин fashionlime.bg като за краткост същият ще бъде наричан навсякъде в настоящите общи условия „Доставчикът“. Предвижда се и хипотеза, в която „Фешън Лайм“ООД ще изпълнява функцията и на търговец в собствената си онлайн платформа fashionlime.bg. В тези случаи доставчикът ще бъде наричан „Доставчик-търговец“.
</p>
<p>
3. Ползвателите на сайта са физически и/или юридически лица, които осъществяват достъп до сайта fashionlime.bg през web браузър и придобиват качеството “клиент”. Същите са представителите на информационното общество, съгласно действащото българско законодателство. За краткост в настоящите общи условия същите се наричат „Потребители“ или „Потребителите“.  
</p>
<p>
4.“Търговец“ е физическо или юридическо лице, което използва електронния мaгазин fashionlime.bg , за да продава своите продукти (дрехи, обувки, аксесоари) както и да приема и обработва заявки за поръчки на същите.
</p>
<p>
5. „Електронно изявление“ е словесно изявление, представено в цифрова форма чрез общоприет стандарт за преобразуване, разчитане и визуално представяне на информацията.
</p>
<p>
6. IP Адрес“ („IP address“) е уникален идентификационен номер, асоцииращ устройство, интернет страница или ресурс на потребителя по начин, който позволява локализирането им в глобалната интернет мрежа.
</p>
<p>
7. „Електронна препратка“ или само „препратка“ е връзка, обозначена в определена интернет страница, която позволява автоматизирано препращане към друга интернет страница, информационен ресурс или обект чрез стандартизирани протоколи.
</p>
<p>
8. „Злоупотреби“ или „Злоумишлени действия“ са действия или бездействия, нарушаващи интернет етиката, гражданското законодателство, настоящите общи условия и/ или нанасящи вреди на лица, свързани към интернет или асоциирани мрежи, изпращане на нежелана поща, т.нар. непоискани търговски съобщения съгласно законите за електронната търговия (SPAM, JUNK MAIL), препълване на каналите (FLOOD), получаване на достъп до ресурси с чужди права и пароли, използване на недостатъци в системите с цел собствена облага или добиване на информация (HACK), извършване на действия, които могат да бъдат квалифицирани като промишлен шпионаж или саботаж, повреждане или разрушаване на системи или информационни масиви (CRACK), изпращане на „троянски коне“ или предизвикване инсталация на вируси или системи за отдалечен контрол, смущаване нормалната работа на останалите потребители на интернет и асоциираните мрежи, използване на голям брой материали от сайта, по начин по който може да се предположи, че използването на същите не е с учебна цел и извън целите на сайта от даден потребител с търговска цел и/или друга цел и което ползване включва предоставянето, копирането и възпроизвеждането на съдържанието им към други сайтове и източници, както и извършване на каквито и да е било правни действия, насочени към нарушаване на интелектуална собственост, авторски права, търговски марки, промишлен дизайн, логотипи или друг вид авторски изображения, както и всякакви други умишлени деяния, които могат да се квалифицират като престъпление или административно нарушение по българското законодателство или по друго приложимо право.
</p>
<p>
9. „Интернет страница“ е част от уебсайт, която може да е съставна или обособена.
</p>
<p>
10. „Уебсайт“ е обособеното място в глобалната интернет мрежа, достъпно чрез своя унифициран адрес (URL) по протокол HTTP или HTTPS и съдържащо файлове, програми, текст, звук, картина, изображение, хипервръзки или други материали и ресурси.
</p>
<p>
11. „Информационна система“ е устройство или система от свързани устройства, което или някое от които е предназначено да съхранява, изпраща или получава електронни документи.
</p>
<p>
12. „Паролата“ представлява код от букви, цифри и знаци, който заедно с потребителското име или имейл адреса служи за достъп до потребителския и профила на регистрираните потребители в сайта.
</p>
<p>
13. „Сървър“ е устройство или система от свързани устройства, на което или на някое от които е инсталиран системен софтуер за изпълняване на задачи във връзка със съхраняване, обработка, приемане или предаване на информация.
</p>
<p>
14. „Материал“ представлява всеки обект на авторското право, както и всяка информация, под формата на писмен текст, картина, аудио или видео материал, фотография, художествен дизайн, база данни и сорс код, представляващи част от сайта fashionlime.bg, която може да бъде възпроизвеждана и да предлагана по безжичен път или по кабел на достъп на неограничен брой лица, позволяващ този достъп да бъде осъществен от място и по време, индивидуално избрани от потребител или служител на fashionlime.bg
</p>
<p>
15. „База данни“ представлява съвкупност от самостоятелни произведения, данни или други материали, подредени систематично или методично и индивидуално достъпни по електронен или друг път, представляващи информационен ресурс на – fashionlime.bg.
</p>
<p>
16. „Случайно събитие” е непредвидено към момента на сключването на договора обстоятелство от извънреден характер, което прави изпълнението му обективно невъзможно.
</p>
<p>
17. „Търговски съобщения” са рекламни или други съобщения, представящи пряко или косвено стоките, услугите или репутацията на лице, извършващо търговска или занаятчийска дейност или упражняващо регулирана професия.
</p>
<p>
ІІ. Регистрация на потребител. Съгласие с общите условия. Сключване на договор за услуга.
</p>
<p>
18. За да закупи стока, представена чрез сайта fashionlime.bg, потребителят/или посетителят е длъжен да попълни електронна форма за поръчки, в която предоставя своите лични данни, за която автентичност същият гарантира. Потребителят се явява титуляр и автор на това електронно изявление. Ако потребителят изрази воля от името на трето лице, то  се приема, че същият договаря от чуждо име и за чужда сметка, като ще отговаря за евентуалните вреди лично, като последица от предприетите правни действия без представителна власт. Процесът за извършване на поръчка е изброен в следните стъпки:
<ul>
<li>Разглеждане на каталог с продукти</li>
<li>Добавяне на желаните и налични продукти във виртуалната количка за пазаруване</li>
<li>Преглед на добавените в количката артикули и потвърждение за започване на поръчка</li>
<li>Поръчката завършва с натискане на бутон с отметка, като с това свое действие потребителят/посетителят изрично декларира съгласието си с настоящите Общи условия, като в момента на получаването на волеизявлението в информационната система на доставчика, договорът за услуга се счита за сключен.</li>
</ul>
Когато потребителят е ограничено дееспособен, неговото волеизявление се формира след одобрението на същото от родител/ попечител и /или други лица, които го представляват на правно основание, съгласно българското гражданско законодателство или законодателство на страната, чийто гражданин е същият, а когато потребителят е недееспособен, декларирането на съгласие и формирането на волеизявление се извършва директно от родителя настойник.
</p>
<p>
19. Настоящите Общи условия представляват договор за предоставяне на информация и/или сключване на електронна сделка за закупуване на конкретен продукт – дрехи, обувки или аксесоари. Той се счита за сключен и има задължителна обвързваща сила между всеки посетител/регистриран потребител, извършил поръчка чрез  порталния сайт fashionlime.bg и търговеца/или доставчикът-търговец,  използващ интернет платформата fashionlime.bg, която му дава възможността да представи и продаде онлайн стоката си. Когато купувате продукти чрез сайта fashionlime.bg Вие ги купувате от съответния Търговец/доставчик-търговец, който менажира и осъществява процеса на продажбата - качва продуктите, които иска да продаде, и след като получи електронно поръчка чрез сайта fashionlime.bg, има грижата да се свърже с потербителя/посетителя и да му достави поръчаното. Важно е да се разбере, че договорът за покупка на стока се сключва между потребителя и съответния търговец. “Фешън Лайм” ООД не е страна по договора, а има само посредническата функция на агент между потребителя и търговеца. Има и хипотеза, в която “Фешън Лайм” ООД е в качеството си на доставчик-търговец, като тогава договорът е сключен между първия и потребителя/посетител. С отварянето, разглеждането и/ или използването на този сайт всеки  потребител/посетител се счита, че е запознат с разпоредбите и приема да бъде обвързан и да спазва настоящите Общи условия. Договорът за услуга може (но не е задължително) да бъде съхранен от страна на доставчика, в който случай представлява електронен документ.
</p>
<p>
20. С подписването на този договор потребителят се съгласява, че всеки текст, снимка, дизайн, изображение, рекламни банери, аудио или видео файл, бази данни и сорс код, които се намират на страниците на сайта, представляват обект на авторското право на фирма „Фешън Лайм“ ООД. Поради това, авторското съдържание не може да бъде копирано, разпространявано, възпроизвеждано, взаимствано и променяно под други несъществено различни форми по какъвто и да е начин, без съгласието на фирма „Фешън  Лайм“ ООД  и след заплащане на съответното авторско възнаграждение.
</p>
<p>
21. При доказани случаи на използване на авторски материали, представляващи интелектуална собственост на fashionlime.bg по начин, който може да се квалифицира като възпроизвеждането на същите с комерсиална цел;  в противовес с целите на сайта fashionlime.bg; използване с търговска цел и/или друга цел, като това действие включва предоставянето, копирането и възпроизвеждането на съдържанието на fashionlime.bg към други сайтове и източници, както и каквото и да е нарушение на правилата, уредени в настоящите общи условия, то същият потребител/посетител дължи неустойка за неизпълнение на договора за онлайн търговия в размер на прихода на доставчика, предоставен от счетоводната документация на същия за периода на ползването на сайта от този потребител, като тази клауза не изключва и опцията за регресни авторскоправни претенции към същия потребител.
</p>
<p>
22. В случай на нарушение и неизпълнение на задълженията, вменени на потребителите/посетителите с настоящите общи условия и/или действащото българско  законодателство, доставчикът, както и Търговецът, имат право, но не и задължение да развалят настоящия договор за онлайн търговия, чрез едностранно писмено уведомление, изпратено до електронната поща на потребителя/посетителя, без да дават допълнителен срок за изпълнение.
</p>
<p>
23. Доставчикът(fashionlime.bg) е администратор на лични данни.
</p>
<p>
24. Доставчикът( fashionlime.bg)се ангажира да гарантира неприкосновеността на информацията, съдържаща лични данни, предоставяна от потребителите онлайн посредством попълнените заявления за поръчка. Доставчикът има право да предостави  информация, свързана с потребителите, и на Търговците, чиито продукти са поръчани посредством електронния магазин. Разкриване на личните данни е възможно и в случаите, когато информацията е изискана от държавни органи или длъжностни лица, оправомощени със закон да изискват и събират информация съдържаща лични данни и при спазване на нормативно установения ред. 
</p>
<p>
25. Доставчикът си запазва правото да записва, съхранява и използва всякаква информация за потребителите/посетителите, необходима за тяхното идентифициране и възпроизвеждане на изявлението за съгласие с Общите условия.
</p>
<p>
26. Всеки посетител може да стане регистриран потребител, като заяви потребителско име, име и фамилия (по паспорт), както и точен адрес. Тези данни се използват като идентифициращи такива относно входа в сайта на всеки потребител. В случай, че потребителското име вече е заето (има друг потребител с такова име), той бива незабавно уведомяван, за да посочи ново потребителско име, което е свободно. Потребителят поема задължението да не предоставя потребителското име и паролата си за ползване от трети лица, като в случай на отдаването им на трето лице, носи пълната отговорност от действията на същото, които потребителя приема да се считат, като извършени от негово име и за негова сметка. Доставчикът( fashionlime.bg) не носи отговорност за вреди, настъпили за потребителя/посетителя в резултат от неправомерно използване на потребителското име и паролата му от трети лица. Горепосочените данни като име и точен адрес се използват от Търговеца и Доставчика-търговец и в случаите, когато поръчката на продукт или заявката за връщане на продукт е направена от посетител, който няма регистриран профил в електронния магазин като регистриран потребител.
</p>
<p>
27. За да продава своите продукти в електронния магазин fashionlime.bg, Tърговецът е нужно да изпрати имейл до sales@fashionlime.bg като в него представи своята компания – как се казва, какви продукти желае да продава, колко  е голям асортиментът, с който разполага. Доставчикът(fashionlime.bg) се ангажира да отговори на постъпилите имейли в най-кратък срок като изпрати и подробно описание на условията за участие. Ако търговецът е съгласен с настоящите Общи условия(чието съгласие се валидира електронно, чрез клик върху съответната кутийка за съгласие с Общите условия) ще получи от доставчика(fashionlime.bg) право за създаване на собствен търговски профил, в който ще може да създава продукти, колекции и визии, 
</p>
<p>
28. Със завършена поръчка и натискане на бутона „Запознат съм с направената поръчка и с <%= link_to "Общите условия", terms_of_use_path %>, съгласен съм с тях и се задължавам да ги спазвам“  съответният потребител/посетител изразява своето съгласие да получава в електронен вид търговски съобщения, информация относно направени поръчки, информация относно заявки за връщане на поръчки; информация относно промяна на данни, свързани с неговия профил- например смяна на парола, изпратени от доставчика(fashionlime.bg)или упълномощени от него трети лица, чрез технологията “бисквитки”.
</p>
<p>
29. Потребителят/посетителят може да заяви отказ от получаване на търговски известия по всяко време, натискай бутон „не желая да получавам търговски известия“. Това волеизявление може да бъде направено и на следния имайл sales@fashionlime.bg 
</p>
<p>
III. Приложимост. Промяна.
</p>
<p>
30. Разпоредбите на Общите условия се прилагат за всички въпроси, възникнали при ползването на електронния магазин, като същите могат да се допълват от доставчика-комисионер при констатирана необходимост, като на базата на същите се създават правила за ползване на определени секции от сайта. Тези нови правила се прилагат към общите условия субсидиарно.
</p>
<p>
31. С оглед периодичното допълване и модификациите на стоките от Търговеца и Доставчика-търговец, тяхното усъвършенстване и разширяване, както и във връзка с променящото се законодателство, които рефлектират върху тях, Общите условия могат да бъдат променяни едностранно от доставчика(fashionlime.bg), без да има задължението индивидуално да уведомява отделния потребител за извършената промяна. Промяна е налице при публикуването на условията на сайта и същата влиза в сила от този момент, освен ако не е предвидено друго, като потребителят се задължава своевременно да следи за промени в настоящите условия.
</p>
<p>
32. Потребителят може да заяви, че не приема промените в едноседмичен срок от публикуването на промените. В случай, че потребителят не заяви неприемане на промените, в посочения срок, той се счита обвързан от тях.
</p>
<p>
IV. Права и задължения на доставчика и потребителите.
</p>
<p>
33. Доставчикът(fashionlime.bg) поема задължението да положи необходимата съгласно обстоятелствата грижа, чрез която да осигури възможност на потребителите/посетителите да се запознаят безпрепятствено със спецификите на стоките, предоставяни чрез електронния магазин fashionlime.bg, съобразно настоящите Общи условия и законодателството на България. Доставчикът не отговаря за съдържанието на материали и препратки извън авторската база данни и информационния ресурс.
</p>
<p>
34. Доставчикът(fashionlime.bg) има право да прекрати достъпа на определени потребители/посетители и Търговци до сайта, когато се установи, че те са предоставили неверни данни при регистрацията си или по какъвто и да било начин, чрез действията си, накърняват правата на интелектуална собственост на фирма ”Фешън Лайм” ООД или на трети лица, или в частност нарушават законите на Република България.
</p>
<p>
35. Доставчикът(fashionlime.bg)  има право да прекрати предоставянето на определени стоки като поема задължението да уведоми за това потребителите/посетителите чрез съобщение на интернет страницата.
</p>
<p>
36. Доставчикът(fashionlime.bg)  има право да откаже заявката за поръчка, направена чрез електронния магазин, на определени потребители/посетители при непредоставяне на изискваните  лични данни, както и при установяване на тяхната недееспособност, както и несъгласието им с настоящите общи условия.
</p>
<p>
37. Доставчикът(fashionlime.bg)  има право (но не и задължение) да запамети върху информационна си система или друго крайно устройство за достъп до страницата информация, касаеща потребителите и изразяваща се в т.нар „бисквитки” (cookies).Това са малки текстови файлове, които се запазват от интернет страница fashionlime.bg чрез сървър върху твърдия диск на потребителя/посетителя, като така се дава възможност за възстановяване на информация за същия, която го идентифицира с оглед проследяване на действията му.
</p>
<p>
38. Продуктите и техните описания, качени на сайта fashionlime.bg са базирани на информация, предоставена от Търговеца/или Доставчикът-търговец и в тази връзка Доставчикът(fashionlime.bg)  на може да гарантира, че всички детайли са винаги точни, пълни или без грешки. Изображенията в сайта са само с илюстративна цел и Доставчикът(fashionlime.bg)  не носи отговорност в случай че дисплеят на Вашия компютър/устройство не отразява точно цвета на продуктите.
</p>
<p>
39. Потребителите имат задължението да се запознават непрекъснато с Общите условия и измененията на същите, като приемането на измененията се извършва по описаните по – горе начини и правила. 
</p>
<p>
40. Потребителят има право свободно и неограничено да променя предоставените при регистрацията си данни като спазва правилата, предвидени в настоящите Общи условия.
</p>
<p>
41. Потребителят/посетителят е длъжен да заплати стоката, закупена онлайн чрез сайта fashionlime.bg по следните алтернативни начини:
<ul>
<li>по банков път.При банков превод, задължението на доставчика е само да изпише на екрана банковата сметка и информацията за превода, който потребителят трябва да осъществи към Търговеца.</li>
<li>чрез  плащане през EasyPay ( ePay и bPay) доставчикът генерира код за плащане по микросметката на търговеца в EasyPay и извежда кода на екрана.</li>
<li>с наложен платеж. Чрез този метод на плащане доставчикът не предприема никакви действия от негова страна.</li>
</ul>
</p>
<p>
42. Всички цени в електронния магазин са в български лева и с ДДС. Като оферта може да бъде обявена коректно крайната цена, която потребителят/посетителят реално ще плати. Всеки Търговец или Доставчикът-търговец сам определя цената на предлаганите от него стоки, заплаща се стойността на стоката към момента на извършване на поръчката. 
</p>
<p>
43. Важно е да се знае, че и при трите начина на плащане доставчикът “Фешън Лайм” ООД играе пасивна роля, т.е. в никой от случаите плащането не минава през него. Изключение правят само случаите, в които „Фешън Лайм“ е Доставчик-търговец.
</p>
<p>
44. Начинът за осъществяване на доставката до всеки клиент е посочен в специализираната страница, част електронния магазин fashionlime.bg, наречена <%= link_to "Доставка и плащане", information_delivery_payment_path %>. Всички доставки извън България могат да бъдат свързани с допълнителни такси на превозвача. В този контекст fashionlime.bg препоръчва на всеки потребител/посетител на сайта да направи проучване относно неговите разходи за доставка. Цената за доставка на стока се определя от всеки Търговец/Доставчикът-търговец и тази информация е поместена в профилната страница на съответния  регистриран в електронния магазин търговец. 
</p>
<p>
45. Потребителят/посетителят има право да върне или замени закупената стока в срок от 14 или повече дни от датата на доставка на стоката. Точния брой на дните се определя индивудуално от всеки търговец или доставчик-търговец в административната част на управлявания от него търговски профил.  В търговския профил има още и поле наречено “Политика за връщане и замяна”, в което Търговецът/Доставчикът-търговец описва изискванията си за върнатата стока и процеса за връщане. Ако върнатата стока не пристигне в описания срок на посочения адрес, връщането се отказва. Връщането и замяната на продукт се осъщесвява посредством  правене на “заявка за връщане и замяна”. Ако потребителят е регистриран, той може да намери линк към страница за създаване на такава заявка в списъка си с поръчки (достъпен от меню “Моите поръчки”). Когато потребителят не е регистриран в електронния магазин (тук имаме предвид посетителите), линкът към заявката за връщане на стока е изпратен в потвърждаващия имейл, който всеки потребител – съответно посетител, получава след успешно завършена поръчка.
</p>
<p>
46. Потребителят/посетителят се задължава да не копира, разпространява, взаимства по какъвто и да е начин, възпроизвежда или публикува авторско съдържание, публикувано от сайта fashionlime.bg, като в този контекст е забранено да извършва действия, които:
<ul>
<li>нарушават права върху интелектуалната собственост на фирма „Фешън Лайм “ООД  включително авторски права, търговски марки, промишлен дизайн, бизнес модели, фирмена и търговска тайна, логотипове и всякакви други материали или авторски изображения, като декларира, че е наясно с последващата си наказателна и гражданска отговорност вследствие на предостaвянето на подобни материали.</li>
<li>нарушават каквито и да било имуществени и/или неимуществени права или законни интереси на трети лица;</li>
<li>нарушават по какъвто и да било друг начин настоящите Общи условия и законодателството на Република България. </li>
</ul>
</p>
<p>
47. Във връзка с ползването на предоставените от доставчика стоки, потребителят се задължава също:
<ul>
<li>да спазва разпоредбите на Общите условия и законодателството на Република  България</li>
<li>да следи за нарушения на интелектуалната собственост, извършвани от други потребители/посетители, като при установяване на такива да уведомява своевременно Доставчика</li>
<li>да не накърнява по какъвто и да било начин правата на Доставчика/или Доставчикът-търговец, както и на регистрираните в неговия електронен магазин потребители, чрез действията си, свързани с изпълнението на договора за осъществяване на онлайн търговия</li>
</ul>
</p>
<p>
VII. Отговорност. Ограничаване на отговорността.
</p>
<p>
48. Сайтът fashionlime.bg предоставя възможност за онлайн закупуване и продаване  на продукти, достъпът до които се осъществява в съответствие с правилата, уговорени в настоящите общи условия, като Търговец/Доставчикът-търговец се грижат за достоверността и авторската автентичност на съдържанието на публикуваните материали, както и за истинността и актуалността им. Доставчикът не е длъжен да извършва наблюдение на информацията, която съхранява, пренася или прави достъпна при предоставяне на услуги на потребителите/посетителите, нито да търси факти и обстоятелства, указващи извършването на неправомерна дейност. В случай, че потребител/посетител на сайта претърпи вреди в резултат на невярна информация и/ или неактуалност на даден материал, с източник fashionlime.bg, доставчикът не носи каквато и да е отговорност.
</p>
<p>
49. Ако недобросъвестни действия от страна на потребител/посетител на сайта доведат доставчика(fashionlime.bg) до претърпяване на вреди, потребителят/посетителят е длъжен да обезщети фирма ”Фешън Лайм”ООД за всички претърпени преки и непосредствени вреди, включително платени обезщетения на трети лица, съдебно деловодни разноски и др., адвокатски хонорари и други. Потребителят/посетителят е длъжен да обезщети доставчика(fashionlime.bg)  и в случаите, когато действията са извършени от трети лица, на които той е предоставил за ползване потребителското си име, имейл, използван за регистрацията, пароли и изобщо част или всички данни предоставени, при неговата регистрация.
</p>
<p>
50. Доставчикът(fashionlime.bg) не носи отговорност за вреди, причинени върху софтуера, хардуера или телекомуникационните съоръжения, или за загуба на информация, произтекли от материали или ресурси, търсени, заредени или използвани по какъвто и да било начин посредством предоставяните чрез сайта онлайн услуги за електронна търговия.
</p>
<p>
51. Доставчикът(fashionlime.bg) не носи отговорност за прекратяване достъпа до сайта и / или на стоките и/или за предоставянето им с влошено качество, вследствие на извършвани тестове от страна на доставчика с цел проверка на оборудване, мрежи и други.
</p>
<p>
52. Доставчикът(fashionlime.bg) не носи отговорност за проблеми при предоставянето на услуга за електронна търговия, които се дължат на неподходящо оборудване на потребителите/посетителите, както и на несъвместимост на софтуерните приложения, ползвани от тях, и услугите, предоставяни чрез сайта.
</p>
<p>
53. Доставчикът(fashionlime.bg) не носи отговорност за прекратяване на предоставянето на услугите си при настъпване на обстоятелства извън неговия контрол – случаи на непреодолима сила, случайни събития, проблеми в глобалната интернет мрежа, действия или бездействия на трети лица и т. н.
</p>
<p>
54. Доставчикът(fashionlime.bg) има право да събира и съхранява информация за потребителите си при тяхната регистрация или при тяхната заявка за поръчка ,замяна или връщане на стока по начин, който да позволява идентифицирането им. 
</p>
<p>
55. Доставчикът(fashionlime.bg), както и Търговецът следва да положат необходимата грижа, за да предотвратят достъпа на трети лица до съхраняваната информация за потребителите. Същите се задължават да не предоставят събраната информация за потребителите на трети лица освен в случаите, когато съответният потребител е дал съгласието си за това, или е направено официално искане от изрично оправомощени за това органи.
</p>
<p>
56. Потребителят може да прекрати договора, описан в общите условия, с едноседмично писмено или електронно предизвестие. В този случай той следва да представи първо доказателство, че е заплатил окончателно всички поръчани стоки чрез сайта fashionlime.bg, както и да направи лично недвусмислено волеизявление, че не желае да използва повече предоставяната услуга за електронна търговия. В известието задължително трябва да са включени всички описани данни, за да се направи несъмнен извод, че сочените волеизявления изхождат от съответния потребител, което технически да съвпадне с отговарящите на регистрацията потребителски данни. Известията могат да бъдат изпращани на горепосочения адрес или на имейл info@fashionlime.bg.
</p>
<p>
57. В случаи на неизпълнение на задължения и/или наличието на злоупотреба от страна на потребителите/посетителите, вменени им с настоящите условия и /или нарушаване на настоящите общи условия, както и българското авторскоправно законодателство, доставчикът(fashionlime.bg) има право да развали договора без предизвестие, като в този случай ще се дължат уговорените в настоящия договор неустойки и обезщетения. В случая ще се прилагат правилата за договори с периодично изпълнение.
</p>
<p>
58. Настоящият договор прекратява действието си автоматично при прекратяване дейността на доставчика „Фешън Лайм“ ООД, при спиране на поддръжката на сайта fashionlime.bg,  както и по взаимно съгласие на страните по същия.
</p>
<p>
VIII. Други условия.
</p>
<p>
59. За всички неуредени от настоящия договор въпроси се прилагат разпоредбите на действащото законодателство на Република България.
</p>
<p>
60. Всички спорове между страните се решават в дух на разбирателство и добра воля. В случай, че съгласие не бъде постигнато, всички неразрешени спорове, породени от договора за предоставяне на онлайн електронна търговия и/или от настоящите общи условия, както и между страните по тях, включително спорове, породени от и/или отнасящи се до тяхното тълкуване, недействителност, изпълнение, разваляне прекратяване, както и спорове за попълване на празноти в общите условия и договора или приспособяването им към нововъзникнали обстоятелства, ще бъдат разрешавани от компетентния съд. 
Никоя част от настоящия сайт, включително неговото авторско съдържание, търговска марка, дизайн, домейн, функционалност или словестно съдържание, в това число и настоящите общи условия, не може да бъде възпроизвеждано, променяно или разпространявана в разрез със законодателството, уреждащо интелектуалната собственост, без предварителното писмено съгласие на „Фешън Лайм“ ООД като собственик на сайта. В случай на такива неправомерни действия отговорните физически или юридически лица ще бъдат подведени под съответната наказателна, гражданска и административна отговорност и ще дължат обезщетение за нанесените на собственика на сайта fashionlime.bg вреди.
</p>
<p>
Подписвам настоящите Общи условия, като декларирам, че съм прочел и разбрал същите и се съгласявам с тях.
</p>

<p>
Дата на последна редакция: 5 март 2017г.
</p>

</div>
