<h3>
  Продукти които имат поне една картинка подходяща за визия
</h3>

<p>
Тук са изложени (по 1 на ред) всички продукти, които имат поне една картинка,
подходяща за визия. Картинките, които са маркирани като подходящи, са избрани
по подразбиране и не може да бъдат отмаркирани. Те НЯМА да присъстват във
финалния zip архив.
</p>

<p>
  <%= link_to admin_clip_pp_without_outfit_pic_path do %>
    <div class="label">Отиди на продукти без снимки за визия</div>
  <% end %>
</p>


<%= render partial: "form", locals: { mark_first_by_default: false }  %>