<p>Здравейте!</p>

<p>
Беше поискан линк за смяна на паролата във FashionLime за Вашия акаунт. 
Можете да смените паролата си, като последвате през следващите 6 часа линка:
</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token), :target => '_blank' %></p>

<p>и въведете новата си парола.</p>

<p>Ако линкът не е бил поискан от Вас, моля игнорирайте този имейл.</p>
<p>Паролата Ви няма да бъде променена, докато не последвате линка и не въведете новата си парола.</p>

<%= render partial: '/shared/mailer/user_email_signature' %>
