<div class="outfit-decoration">
    <div class="image">
        <img class="img-responsive" alt="{{ decoration.image_alt }}" src="{{ decoration.image_url.thumb }}">
        <input type="hidden" name="" id="" value="{{ decoration.image_url.original }}" class="decoration_image_url">
    </div>
    <div class="functions">
        <a title="Добави към визията" class="add_outfit_decoration">
           <i class="fa fa-plus-circle"></i>Добави
        </a>
    </div>
</div>